body {
  background-color: black;
}
#boder {
  border: 5px solid white;
  margin-top: 50px;
}

#text {
  text-transform: uppercase;
  color: aliceblue;
  font-family: "Miltonian", cursive;
}

#add {
  color: aliceblue;
}
