#red {
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: rgba(0, 128, 0, 0.849);
}

#yellow {
  color: rgb(255, 196, 0);
}

.color-title {
  font-weight: normal;
}
